body {
   background-color: white;
   font-family: 'GFS Neohellenic', sans-serif;
}
div{
  color: #F8F8F0
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #272B22;
  padding: 10px;
  border: 2px solid #c2b180;
  border-radius: 5px;
  box-shadow: 5px 10px 8px #888888;
}
.grid-container > div {
  background-color: #272B22;
  text-align: center;
  padding: 20px 0;
  border: 2px solid #c2b180;
  border-radius: 5px;
}
.item2 {
  grid-column: 1 / span 4;
  font-size: 40px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.item1 {
  font-size: 20px;
  text-shadow: black 0.1em 0.1em 0.2em;
}
