cite {
    font-family: 'Goudy Bookletter 1911', serif;
    font-style: italic;
    font-size: 13px;
    font-weight: lighter;

}
.item3 {
font-family: 'Goudy Bookletter 1911', serif;
font-size: 12px;
font-weight: lighter;
}

body {
   background-color: #f6f1eb;
}
div{
  color: #535e64;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #5a6c78;
  padding: 15px;
  border: 2px solid #e7792a;
  border-radius: 10px;
  box-shadow: 5px 10px 8px #888888;
  margin-bottom: 10px;
  text-align: justify;
}
.grid-container > div {
  background-color: #f6f1eb;
  text-align: center;
  padding: 5px 0;
  border: 2px solid #e7792a;
  border-radius: 10px;
}
.item2 {
  grid-column: 1 / span 1;
  font-size: 40px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.item1 {
  font-size: 20px;

}
#cheatone {
    border-collapse: collapse;
}

#cheatone td, #cheatone th {
    border: 1px solid #ddd;
    padding: 8px;
}

#cheatone tr:nth-child(even){background-color: #f6f1eb;}
#cheatone tr:nth-child(odd){background-color: #dddddd;}

#cheatone th {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    font-family: 'GFS Neohellenic', sans-serif;
    font-size: 12px;
    width: 50%;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #535e64;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #e7792a;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
